@import '../../../styles/variables.scss';
.github {
  float: right;
  padding: 14px;
  opacity: 0.6;
}

.dark .github svg {
  fill: $dark-light-font-color;
}

.light .github svg {
  fill: $dark-gray;
}
